@charset "UTF-8";
/* --------------------------------------- */
/* ==          home menu                   */
/*---------------------------------------- */
/* BODY */
body {
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1 {
  font-size: 100px;
  color: #fccb45;
  text-align: center;
  font-family: 'Hind Madurai', sans-serif;
}

/* HEADER */
header {
  background-color: #589d88;
  width: 100%;
  margin-bottom: 50PX;
}

/*  MAIN*/
.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 100PX;
}

.content-menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.content-menus-figure {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  margin-bottom: 50px;
}

.content-shortly {
  background-color: #589d88;
  color: #fccb45;
  font-size: 35PX;
  text-align: center;
  border-radius: 20px;
  padding: 25px;
  margin: 40px auto 60px auto;
  border: 0px solid transparent;
}

a, img {
  max-width: 100%;
  display: block;
}

/* FOOTER */
footer {
  background-color: #589d88;
  width: 100%;
  padding: 30PX;
  position: fixed;
  bottom: 0;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

a {
  color: #fccb45;
  font-size: 40PX;
  text-decoration: none;
}

/* --------------------------------------- */
/* ==          Menus               */
/*---------------------------------------- */
.menu-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
  padding-bottom: 100PX;
}

/* --------------------------------------- */
/* ==          Mentions legales             */
/*---------------------------------------- */
.mentions-details {
  margin: 30px auto;
  font-size: 20px;
  margin: 30px auto 300PX auto;
  font-family: "Roboto Condensed", sans-serif;
  text-align: justify;
  width: 80%;
}

/* --------------------------------------- */
/* ==          Annimations               */
/*---------------------------------------- */
/* tree dots effects */
@-webkit-keyframes blink {
  /**
 debut annimation
 */
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}
@keyframes blink {
  /**
 debut annimation
 */
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

.content-shortly span {
  -webkit-animation-name: blink;
          animation-name: blink;
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  /**
 animation tourne en boucle indefinie
 */
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  /**
 * specifie la maniere dont l'annimation applique les styles à sa cible .
 *l'opacity est appliqué apres le depart de l'annimationion.
 */
}

.content-shortly span:nth-child(2) {
  /**
 * debut annimation du 2 point avec .2s, sinon tout s'anime en meme temps
 */
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.content-shortly span:nth-child(3) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

/* Typing effect */
.content-shortly {
  overflow: hidden;
  /* le contenu n'est pas révélé avant l'animation*/
  white-space: nowrap;
  /* laisser le contenu sur une ligne */
  -webkit-animation: animated-text 2s steps(30, end) 1s 1 normal both;
          animation: animated-text 2s steps(30, end) 1s 1 normal both;
}

@-webkit-keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 40%;
  }
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 40%;
  }
}

/* Wiggle */
.wiggle:hover {
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0);
  }
}

/* Effets menus */
/* ne pas depasser le cadre */
figure {
  overflow: hidden;
  margin: 0px;
}

img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 1;
}

img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.2);
  opacity: 0.5;
}
/*# sourceMappingURL=style.css.map */