
@import "sass/libs/minireset.css";
@import "sass/libs/variables.scss";

/* --------------------------------------- */
/* ==          structure menus             */
/*---------------------------------------- */


h2{
    font-family:'Hind Madurai', sans-serif;
    text-align: center;
    width: 100%;
    text-shadow: 1px 1px 1px #788a9991;
    color: $color-menu-subtitle;
    font-size:50px ;
    margin-top: 30px;
  }

  .main-menu{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin: 5% auto 15% auto;
    text-align: center;
    margin: 60px auto 60px auto;
      .menu-top{
        margin: 50px;
        &-img{
            font-size: 100px;
        }
        &-title{
            font-family: "Devonshire";
            font-size: 100px;
        }
      }
      .menu-middle{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
          &-content{
            display: flex;
            flex-direction: column;
              margin-bottom: 50px;

            &-title{
              margin-bottom: 50px;

            }
            &-plat{ 
              display: flex;
              flex-direction: column;
              margin:auto;

                &-details{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: baseline;
                  
                    padding: 0px 0px 15px 0px ;
                    &-text{
                      padding: 0px 80px 0px 15px ;
                    }
                    &-price{
                      padding: 0px 15px 0px 80px ;  
                    }
                }
            }
          }
      }
      .menu-bottom{
          display: flex;
          justify-content: center;
          margin-bottom: 50px;
          &-img{
              margin: 10px;
              font-size: 50px;
          }
          &-titre{
            font-family: "Devonshire";
            font-size: 30px;
            margin: 10px;
          }

      }
  }

/* --------------------------------------- */
/* ==     Style la note enchantée          */
/*---------------------------------------- */
body{
    font-family: "Roboto Condensed";
    font-size: 20px;
    color: #3C1218;  
}
.main-menu{
    background-color: #f0967659; 
}
h3.menu-middle-content-title{
    font-family: "Kalam";
    font-size: 40px;
}
.menu-middle-content-plat {
    font-family: "Caveat", "cursive";
    font-size: 30px;
}
.fas{
  background-image: linear-gradient(to top,#fd4027c9,#fdc427c9);
    
}